body{
background-color: #ccc;
color: #222;
font-family: arial;
}
.respo{
	color: skyblue;
	text-align: center;
	font-style: 1.0vw
}
.cont{
max-width: 1000px;
min-height: 200px;
margin: 0 auto;
background-color: #fff;
}
.cont h2{
font-size: 5vw;
margin: 0;
padding: 0;
}
.my-panel{
width: 33.33%;
float: left;
overflow: right;
}

.one{
background-color: lavender;
min-height: 100px;
padding: 20px;
}
.two{
background-color: orange;
min-height: 100px;
padding: 20px;
}
.three{
background-color: skyblue;
min-height: 100px;
padding: 20px;
}
.four{
background-color: green;
min-height: 100px;
padding: 20px;

}
.five{
background-color: tomato;
min-height: 100px;
padding: 2.5px;
}
.six{
background-color: cyan;
min-height: 100px;
padding: 2.5%px;
}
.seven{
background-color: purple;
min-height: 100px;
padding: 20px;
}
.eight{
background-color: pink;
min-height: 100px;
padding: 20px;
font-style: 1.0vw
}
